# python First class

this is first class

In [10]:
print('Hello world')

Hello world

In [15]:
print("hello",123, 45.5,sep="@")

hello@123@45.5

In [1]:
name ='summaiya'  #identifier is the name of variable,variable is valueholder, 
name = 'sara'     # assignment operator =
print(name)

sara

In [3]:
data_type = '123'
type(data_type)

str

In [6]:
d1 = True   #bool data type
print(d1)

True
the a is 12

In [ ]:
# 1aa , a a , $aa   invalid variables
# a1a valid  variable
# reserve words or keywords can't be used as variables
# python is case-sensitive
# true = 5 (no error)  but True = 5; (error)

In [5]:
_ = 5;
true = 5;  # True = 5; error 
# _ (underscore) can be variable

In [9]:
# python 's division is by default in float
a=4
b=5
print(a/b)
 # answer in float
print(a//b)  # integer division result will not be round off, decimal part will be eliminated

0.8
0

In [42]:
c=12
d=3
c%d # modulo  operator
c+3

15

In [32]:
3**2  # exponent

9

In [30]:
a=12
b=10
a!=b     
# a==b equals

True

In [39]:
# concatenation strings
x='a' 
y='b'
print(x+' '+y)
len(x+' '+y)
print('abc'+ 30) #error 30 is not string

a b

TypeError: can only concatenate str (not "int") to str

In [45]:
a=10
print("the number is " + str(a) ) # type casting

the number is 10

In [49]:
age = 10
name = 'sara'
print('my name is ' + name + ' and age is ' + str(age))

my name is sara and age is 10

In [61]:
name ="sara" # placeholders {}  
age = 11  
print("my name is {0} and my age is {1},".format(name,age)) #without indexing it will also run
print("my name is {} and my age is {},".format(name,age))
print("my name is {1} and my age is {1},".format(name,age)) #print is function

my name is sara and my age is 11,
my name is sara and my age is 11,
my name is 11 and my age is 11,

In [60]:
print(f"my name is {name} and my age is {age}.")  # another method of format

my name is sara and my age is 11.

In [1]:
#if is  statement having some logical condition and gives answer in true or false
a=10
b=20

In [2]:
a<b

True

In [7]:
if a > b :   # after colon when we press enter , the cursor will be  one tab  intend ,intendation tells block in python not curly brackets 
    print("if is true")
    print("if is true")
else:
    print("if is false")

if is false

In [ ]:
#temp =input()   #user input by default is string

In [1]:
temp = int(input("Enter today's tempertaure : ")) #ypecasting
if temp>30:
    print("'It's hot today")
else :
    print("Normal Temperature")

Enter today's tempertaure : 40
'It's hot today

In [4]:
#if a==b:   #nested if's if one IF fails , the other if's will not execute
   # if a>b:
       # if a<b:
           # if a!=b:
cnic = input("do you have CNIC? ")  
if cnic =='yes':
    print("andar chalay jaen")
    nameinlist = input("is my name in list? ")
    if nameinlist =='yes':
        print("Please cast your vote")
    else:
        print("You can't cast vote")
else:
    print("You can't cast vote")

do you have CNIC? yes
andar chalay jaen
is my name in list? yes
Please cast your vote

In [8]:
# if elif else
marks = int(input("Enter your marks : "))
grade = " "
if marks>=90:
    grade = "A*"
    print(f"your marks are {marks} and your grade is {grade}") 
elif marks>=80:
    grade = "A"
    print(f"your marks are {marks} and your grade is {grade}") 
elif marks>=70:
    grade = "B"
    print(f"your marks are {marks} and your grade is {grade}") 
elif marks>=60:
    grade = "C"
    print(f"your marks are {marks} and your grade is {grade}") 
elif marks>=50:
    grade = "D"
    print(f"your marks are {marks} and your grade is {grade}") 
else:
    print("You are ungraded and please try again")

Enter your marks : 10
You are ungraded and please try again

In [11]:
# and (nested if ,all conditions are true then execute)  or ( elif , if one conditon is true then can execute  )
cnic = input("Do you have cnic? ")
nameinlist = input("is my name in list? ")
if(cnic == "yes") and (nameinlist =="yes"):
    print("Caste your vote")
else:
    print("you cannot cast vote")

Do you have cnic? no
is my name in list? yes
you cannot cast vote

In [12]:
 ''''this is comment'''# select line and then press control+ forward + slash, all selected will become comments

'this is comment'

In [5]:
students = ["asad",'nasir',"ayesha"]   #list can have many datatypes , no concept of array in python
print(students)
type(students)   # list is itself is a datatype

['asad', 'nasir', 'ayesha']

list

In [15]:
students[1]

'nasir'

In [16]:
students[2]

'ayesha'

In [19]:
del students[3]  # if you don't know the index of the element , that is to be removed so just use  .index function or use remove
students

['asad', 'nasir', 'ayesha', 'sara']

In [20]:
students[2] = "komal"
students

['asad', 'nasir', 'komal', 'sara']

In [20]:
# list can have data of any type ie float , string,int
# no need to define length of list
students =['asad', 'nasir', 'komal']
students.append('sara')  # append(add) always on last   # shifht + tab to see signature within the brackets
print(students)
students.insert(2,'kubra')
print(students)

['asad', 'nasir', 'komal', 'sara']
['asad', 'nasir', 'kubra', 'komal', 'sara']

In [13]:
students = ['asad', 'nasir', 'ayesha', 'hamdan', 'hamdan', 'sara']
students.insert(27,'hamdan')   # it didn't give error in 27th index but places the value at the last
students

['asad', 'nasir', 'ayesha', 'hamdan', 'hamdan', 'sara', 'hamdan']

In [4]:
students = ['asad','nasir','komal','sara']
students = students + ["khizer","Irtiza"]
students

['asad', 'nasir', 'komal', 'sara', 'khizer', 'Irtiza']

In [17]:
students = ['asad', 'nasir', 'ayesha', 'hamdan', 'hamdan', 'sara']
name = 'abc'
students = ['asad', 'nasir', 'ayesha', 'hamdan', 'hamdan', 'sara',name]
students
students.index('hamdan') # hamdan where first gives that index

3

In [5]:
tasks =[]   #empty list
tasks = tasks + ['sleep','eat','repeat']
tasks

['sleep', 'eat', 'repeat']

In [8]:
students =['sara','rafiq','abeer','haleema','abdullah','joe']
undergraduate = students[2:5] # after colon the index of that element will come that is after the last element to be added
undergraduate

['abeer', 'haleema', 'abdullah']

In [12]:
students =['sara','rafiq','abeer','haleema','abdullah']
undergraduate = students[2:] # when the last element is to be copied is at the last index
undergraduate

['abeer', 'haleema', 'abdullah']

In [20]:
students =['sara','rafiq','abeer','haleema','abdullah']
undergraduate = students[:4]  #when the list to be started is from first element
print(students)
students.remove('sara')  #also use del[index] 
students

['sara', 'rafiq', 'abeer', 'haleema', 'abdullah']

['rafiq', 'abeer', 'haleema', 'abdullah']

In [24]:
students =['sara','rafiq','abeer','haleema','abdullah']
students.sort()  # its reverse is by default false but if we true its reverse # see the shift+tab to see default things
print(students)
students.sort(reverse = True)
print(students)

['abdullah', 'abeer', 'haleema', 'rafiq', 'sara']
['sara', 'rafiq', 'haleema', 'abeer', 'abdullah']

In [25]:
students =['sara','rafiq','abeer',2,'abdullah']
students.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [27]:
marks =[23,5,26,87]
list2 = marks   # address or reference is shared # pass by reference  # it is not copy function
print(list2)
del marks[0]
print(marks)
print(list2)   # the change also occurs in list2

[23, 5, 26, 87]
[5, 26, 87]
[5, 26, 87]

In [29]:
list3 = list2.copy() # copy function
print(list3)
list2.append(45)
print(list2)
print(list3)   # due to copy function the change didn't occur in list3 only change occur in list2 , due to reference not passed

[5, 26, 87]
[5, 26, 87, 45]
[5, 26, 87]

In [30]:
list2 =[23,5,26,87]
list2.reverse()
print(list2)
list2.clear()
print(list2)

[87, 26, 5, 23]
[]

In [34]:
numbers = [12,23,45,67,22]

In [36]:
# list is used as stack  # last in , first out
x = numbers.pop() # last element stores in x # when first time run we get 22 in x , second time we get 67 in x but
print(numbers)                                                                       #  we are not having multiple values
print(x) # by variable storing only one value we cannot store many values of numbers

[12, 23, 45]
67

In [47]:
numbers = [12,23,45,67,22]

In [48]:
poppedlist = []# we made list # now we use list to store many values

In [55]:
if(len(numbers) != 0):
    popped_element = numbers.pop()
    poppedlist.append(popped_element)   # first time this cell run the list will have only 22 , second time it will have  22, 67
else :
    print('The list has empty')   # when we run 6th time this cell
print(numbers)
print('The popped list is now : ')
print(poppedlist)

The list has empty
[]
The popped list is now :
[22, 67, 45, 23, 12]

# list in list

In [56]:
list4 = [ 19,89,['sara','rafiq']]
print(list4)

[19, 89, ['sara', 'rafiq']]

In [58]:
list4[2][1] # acessing element of the list within the list

'rafiq'

In [81]:
fruits=['apple','mango','peach']
fruits

['apple', 'mango', 'peach']

In [82]:
students = ['ali','kiran',123,'karachi']
students

['ali', 'kiran', 123, 'karachi']

In [75]:
abc = [23,45,'abcd',fruits,students]
del abc[3][0] # it will delete apple by giving apple's index
print(fruits)
print(abc)

['mango', 'peach']
[23, 45, 'abcd', ['mango', 'peach'], ['ali', 'kiran', 123]]

In [80]:
abc = [23,45,'abcd',fruits,students]
abc[3].remove('apple') # it will delete apple by  giving 'apple' value name
print(abc)

['mango', 'peach']
[23, 45, 'abcd', ['mango', 'peach'], ['ali', 'kiran', 123]]

In [83]:
abc = [23,45,'abcd',fruits,students]
del abc[4][3]  # deleting karachi by giving it's index
abc

[23, 45, 'abcd', ['apple', 'mango', 'peach'], ['ali', 'kiran', 123]]

# Slicing

In [84]:
# to acess the single value or more values from the list
#to delete multiple values from list , we use slicing
# the item that is sliced from list didn't affect the list just slice it's copy
# index    6-  -5  -4 -3-2 -1
numbers = [29,67,45,3,89,90]
# index     0   1 2 3  4 5
numbers[-1]

90

In [85]:
numbers = [29,67,45,3,89,90]
numbers[1:3]  #[included index : not  included index ]  # we are passing range

[67, 45]

In [86]:
numbers = [29,67,45,3,89,90,78,98,10,76]
print(numbers)
numbers[1:10:2]  #the third parameter is for indexing
# goes to 67 ,skip 45 , goes to 3 and skip 89 ,goes to 90
                # ie take 2 steps but skip the value 1st and print 2nd

[29, 67, 45, 3, 89, 90, 78, 98, 10, 76]

[67, 3, 90, 98, 76]

In [2]:
numbers = [29,67,45,3,89,90,78,98,10,76]
print(numbers)
numbers[1:10:3] # take 3 steps , skips the first and second value and prints the third value
                # slicing is occuring left to right from small index to large index

[29, 67, 45, 3, 89, 90, 78, 98, 10, 76]

[67, 89, 98]

In [3]:
numbers[1:10:1]

[67, 45, 3, 89, 90, 78, 98, 10, 76]

In [4]:
numbers[-5:-1]

[90, 78, 98, 10]

In [88]:
#important
# slicing cannot occur when from large index to small index but produces empty list but NOT GENERATE ANY ERROR
numbers = [29,67,45,3,89,90,78,98,10,76]
numbers[6:3]

[]

In [91]:
numbers = [29,67,45,3,89,90,78,98,10,76]
numbers[-1:-5]  #as -1 is greater than -5

[]

In [90]:
numbers = [29,67,45,3,89,90,78,98,10,76]
numbers[-1:-5:-2]  #imp # -1 say start karay ga reverse mein aur -4 per ruk jaega 
                  # slicing can only be done from large index to small index when step is in negative

[76, 98]

In [92]:
numbers = [29,67,45,3,89,90,78,98,10,76]
numbers[::2]  # when startind and ending index not given so the index will be assume from start to end

[29, 45, 89, 78, 10]

# TUPLES

In [8]:
#tuples are immutable  ie no changes can be appear 
mytuple = (3,4,5,6,7)

In [7]:
type(mytuple)

tuple

In [9]:
print(len(mytuple))
print(mytuple[0])

5
3

In [10]:
mytuple[1:4] # slicing rules can also be applied to tupple same as that of list

(4, 5, 6)

In [11]:
del mytuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [12]:
# packing and unpacking of list and tuple
a = ['asad','fahad','asma','sara'] # multiple values in single variable # packing
# in list , the values are also considered to be packed

In [13]:
w,x,y,z = a # unpacking

In [14]:
print(w)
print(x)
print(y)
print(z)

asad
fahad
asma
sara

# FOR LOOPs

In [15]:
#loop means up and down # the things that take alot time ie time complexity increases
for a in range(10) : 
    print("summaiya")

summaiya
summaiya
summaiya
summaiya
summaiya
summaiya
summaiya
summaiya
summaiya
summaiya

In [19]:
for a in range(10) :  # sum of first 9 natural numbers # range function starts from 0
    if(a == 0):
        x = a
    else :
        x += a
print(x)

45

In [20]:
for a in range(2,5) :
    print(a,'summaiya')

2 summaiya
3 summaiya
4 summaiya

In [21]:
for a in range(0,10,2): # even numbers
    print(a,'summaiya')

0 summaiya
2 summaiya
4 summaiya
6 summaiya
8 summaiya

In [22]:
for a in range(1,10,2) : # odd numbers
    print(a,'summaiya')

1 summaiya
3 summaiya
5 summaiya
7 summaiya
9 summaiya

In [23]:
for a in range(10,1,-2) :
    print(a,'summaiya')

10 summaiya
8 summaiya
6 summaiya
4 summaiya
2 summaiya

In [32]:
x = "*"
for a in range(1,11) :
    print('\n',x*a)

 *

 **

 ***

 ****

 *****

 ******

 *******

 ********

 *********

 **********

In [33]:
x = "*"
for a in range(1,11) :
    print(x*a)

*
**
***
****
*****
******
*******
********
*********
**********

In [35]:
my_list = ['john','ada','linda']
for i in my_list :
    print(i)

john
ada
linda

In [44]:
my_num = [2,4,5,8,10]
my_listt=[]
for i in my_num :
    i *= 2
    my_listt.append(i)
print(my_listt)

[4, 8, 10, 16, 20]

In [46]:
for i in range(21) :
    print(i)
    if i==10 :
        print(i*2)

0
1
2
3
4
5
6
7
8
9
10
20
11
12
13
14
15
16
17
18
19
20

In [52]:
for i in range(9) :
    if(i == 3) :
        continue # in i==3 condition , the loop will not execute
    print(i)

0
1
2
4
5
6
7
8

In [53]:
for  i in range(9) :
    if( i==3) :
        break #  break stops the further execution of program
    print(i)

0
1
2

In [64]:
for i in range(5):
    pass # without pass the error will occur # we can use pass when we are deciding the code and wanted to execute the for loop

In [67]:
num = int(input('Enter any number : '))
for numm in range(1,11) :
    x = (num * numm)
    print("\n"+str(num) + " x " + str(numm) + " = " + str(x))

Enter any number : 2

2 x 1 = 2

2 x 2 = 4

2 x 3 = 6

2 x 4 = 8

2 x 5 = 10

2 x 6 = 12

2 x 7 = 14

2 x 8 = 16

2 x 9 = 18

2 x 10 = 20

In [73]:
for a in "Pakistan" : # outer loop  # will first execute
    for b in range(5):  # inner loop
        print(a,b)

P 0
P 1
P 2
P 3
P 4
a 0
a 1
a 2
a 3
a 4
k 0
k 1
k 2
k 3
k 4
i 0
i 1
i 2
i 3
i 4
s 0
s 1
s 2
s 3
s 4
t 0
t 1
t 2
t 3
t 4
a 0
a 1
a 2
a 3
a 4
n 0
n 1
n 2
n 3
n 4

In [74]:
f_name = ['sara','summaiya','abeer']
l_name = ['bano','sarfaraz','ahmed']
full_name =[]
for f in f_name :
    for l in l_name :
        full_name.append(f +' ' + l) 
print(full_name)

['sara bano', 'sara sarfaraz', 'sara ahmed', 'summaiya bano', 'summaiya sarfaraz', 'summaiya ahmed', 'abeer bano', 'abeer sarfaraz', 'abeer ahmed']

In [76]:
# changing case
"pakistan".upper()

'PAKISTAN'

In [77]:
STRING = 'PAKISTAN'
STRING[2:6]

'KIST'

# DICTIONARIES

In [79]:
#dictionary works on key value pairs
adict = {}
type(adict)

dict

In [80]:
adict['name']='summaiya'  # adding value to dictionary
adict

{'name': 'summaiya'}

In [81]:
adict['age']=34
adict

{'name': 'summaiya', 'age': 34}

In [82]:
adict['age']  # acessing value

34

In [84]:
Bdict = {'city' : 'khi' , 'pop' : '30M'}  # key can be string or integer # value can be string or integer
#           key     Value     key     value
Bdict

{'city': 'khi', 'pop': '30M'}

In [86]:
Bdict['helo'] = 123456
Bdict

{'city': 'khi', 'pop': '30M', 'helo': 123456}

In [83]:
del adict['age']
adict

{'name': 'summaiya'}

In [87]:
Bdict['city'] = 'lah'  # same key use for new value so it will overwrite the previous value
Bdict

{'city': 'lah', 'pop': '30M', 'helo': 123456}

In [88]:
adict

{'name': 'summaiya'}

In [90]:
adict['age'] = 18
adict['contact'] = 12345
adict

{'name': 'summaiya', 'age': 18, 'contact': 12345}

In [92]:
for key in adict.keys() :  # .keys() will bring all keys
    print(key)

name
age
contact

In [94]:
for val in adict.values() :  #.values will bring all values
    print(val)

summaiya
18
12345

In [95]:
for a,b in adict.items() :  #.items will select both values # (imp) first variable will always contain key
    print(a,b)

name summaiya
age 18
contact 12345

In [96]:
for k in adict.items() :  # (imp) as variable cannot hold multiple values so the two items will be stored as tuple
    print(k)

('name', 'summaiya')
('age', 18)
('contact', 12345)

# list of dictionaries

In [97]:
listt = [23,45,6,{'fruit' : 'apple','food' : 'biryani'}]
print(listt)
print(listt[3])

[23, 45, 6, {'fruit': 'apple', 'food': 'biryani'}]
{'fruit': 'apple', 'food': 'biryani'}

In [98]:
listt[3]['food']  # particular key

'biryani'

In [99]:
'food' in adict # key is not present

False

In [2]:
i = int(input("Enter n number as to get sum of n numbers"))
x = int(i+1)
for i in range(0,x):
    if(i==0) :
        a = i
    else :
        a = a+i
    i-1
print(f"sum of {i} numbers is : {a}  ")

Enter n number as to get sum of n numbers5
sum of 5 numbers is : 15

In [3]:
a= [{1:100},{2 : 200},{3:300}] # list of dictionaries

In [4]:
a[1][2]  # [list index][dictionary key]

200

In [6]:
d ={'names' : ['asad','saad','daad'],'ages' : [23,34,45] } # dictionaries of list

In [9]:
d['names'][0]  #[value][list index]

'asad'

# Functions

In [12]:
# we used functions for reuseability of code
a = 12
b = 34
c = a+b
print(c)

46

In [13]:
 def addtwonumbers() :
    a = 12
    b = 34
    c = a+b
    print(c)

In [14]:
addtwonumbers()

46

In [16]:
def greeting(name) :    # parameterized function 
    print(f'you are welcome {name}')

In [17]:
greeting('sara')    # takes one argument

you are welcome sara

In [18]:
def sum(a,b) :
    c = a+b
    print(c)

In [19]:
sum(2,4)

6

In [23]:
def giveMefullName(firstname , middlename , lastname) :
    fullName = f"{firstname} {middlename} {lastname}"
    print(fullName)

In [24]:
giveMefullName('cute','sara','bano') # positional arguments

cute sara bano

In [26]:
giveMefullName(middlename="nasir",firstname = "sir",lastname = 'hussain') # key word argument
# if sequence is not followed by user

sir nasir hussain

In [27]:
# default arguments
def giveMefullName(firstname  , lastname, middlename) :
    fullName = f"{firstname} {middlename} {lastname}"
    print(fullName)

In [31]:
giveMefullName("sara",'bano',"")

sara bano

In [ ]:
#local variable === within function
#global variable === everywhere in the code

In [35]:
def sub(u,v):
    w = u-v
    return w,'hello python'
  #  print('hello") #this line will not execute b/c after return statement function will end

In [36]:
result =sub(4,2)
print(result)  # result will be returned in tuple as two values are to be returned

(2, 'hello python')

In [37]:
def sub(u,v):
    global q  # q is in the function but it is declared as global so can be acess outside the function
    q = 'i am a local global'
    w = u-v
    return w
print(sub(15,4),q)

11 i am a local global

# args,kwargs

In [1]:
def car(model,year) :
    print(model,year) #positional argument

In [2]:
car('corolla',2019)

corolla 2019

In [3]:
car(model = 'toyota',year = 2018)  # if arguments get interchange then wrong value will not store in any variable

toyota 2018

In [4]:
car(year = 2020,model = 'honda')

honda 2020

In [8]:
def name(fname,lname) :
    print(f"firstname = {fname} lastname = {lname}")

In [9]:
name(lname = 'bano',fname = 'sara') # argument sequence change but still get right answer

firstname = sara lastname = bano

In [14]:
def name(fname,middlename,lname) :
    print(f"firstname = {fname}  middle name = {middlename} lastname = {lname}")

In [15]:
name('John',middlename = 'walten','smith') # john and smith are positional argument
                                      # walten is keyword argument

SyntaxError: positional argument follows keyword argument (<ipython-input-15-3420e88ce0e6>, line 1)

In [16]:
# means keyword argument should be at end as to avoid this error

In [17]:
def name(fname,lname,middlename) : # put middlename at end
    print(f"firstname = {fname}  middle name = {middlename} lastname = {lname}")
name('john','smith',middlename ='walten') # get middle name to last of function

firstname = john  middle name = walten lastname = smith

In [18]:
#arbitary number of arguments
# when no of arguments can be greater than no of parameters so take it as asteriks
# or when no of arguments have to be hold by one parameter
# and they be stored in form of tupples
def pizza(size,flavour,*toppings):
    print(size,flavour)
    print(toppings)

In [19]:
pizza('large','tikka','extra cheese')

large tikka
('extra cheese',)

In [20]:
pizza('large','tikka','extra cheese','olives')

large tikka
('extra cheese', 'olives')

In [21]:
pizza('large','tikka','extra cheese','olives','peppronii')

large tikka
('extra cheese', 'olives', 'peppronii')

In [22]:
def car(make,model,**specs):
    print(make,model)
    print(specs)

car('toyota','prius',transmission ='Automatic') # ** takes the keyword argument as dictionary

In [26]:
car('toyota','prius',transmission ='Automatic',gears = 2,color = 'red')

toyota prius
{'transmission': 'Automatic', 'gears': 2, 'color': 'red'}

In [34]:
# function as variable
def add(a,b) :
    c = a+b
    return c

In [35]:
def sub(a,b) :
    c = a-b
    return c

In [37]:
result = add(2,4) + sub(7,3) # function are not adding but instead their returned values are adding
print(result)

10

# while loop

In [38]:
a = 0
while a<10 :
    print(a)
    a= a+1

0
1
2
3
4
5
6
7
8
9

In [40]:
 # for loop iterates unless brek or continue not used
topping = []
for a in range(5):
    toppings = input("enter toppings ")
    topping.append(toppings)
print(topping)

enter toppingsa
enter toppingsb
enter toppingsc
enter toppingsd
enter toppingse
['a', 'b', 'c', 'd', 'e']

In [4]:
flag = True
topping = []

while flag :
    toppings = input("enter toppings ")
    if toppings == "q":
        flag = False
        break
    topping.append(toppings)
print(topping)

enter toppings qwe
enter toppings qwe
enter toppings q
['qwe', 'qwe']

In [ ]:
available_flavours = ["fajita","tikka","mexican"]
available_size = ['large','medium','small']
available_toppings = ['olives','cheese','herbs']
print("Pizza Order")
print()
print()
flag = True
while flag :
    size = input("enter pizza size")
    if  size not in available_size :
        print(f"{size} not available")
        continue
    else :
        break
    
        #size = input("please enter pizza size again")